*{
    box-sizing: border-box;
    padding: 0px ;
    margin: 0px;
}
input{
    width: 500px;
    height: 40px;
    border-radius: 20px ;
    border: none;
    box-shadow: 0px 0px 7px 1px #c8c8c8;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    outline: none;
}
img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
}