@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    font-family: Montserrat ;
}
.p-bold{
    font-weight: 700;
}
span{
    text-decoration: underline;
}